.inspection {
	margin-top: 10px;
	li {
		height: 120px;
		line-height: 120px;
		width: 15%;
		float: left;
	}
	.title {
		width: 15%;
		text-align: right;
	}
	.chart {
		width: 35%;
		text-align: center;
	}
}
