@import "style";
@import "search";
@import "filter";
@import "dashboard";
@import "maintitle"; //메인화면 타이틀, breadcrumb

.content {
	padding: 15px 40px;
	background: url(../images/bg.png) 0 0 no-repeat $color-bk;
	color: #fff;
	min-height: 917px;
}
.main-bg.content {
	background: $color-gy !important;
	color: $color-main-gy !important;
}
.main-bg.content > div {
	padding: 0 8px;
	margin-bottom: 30px;
}
.main-bg.content .row {
	margin-right: -15px;
	margin-left: -15px;
}
.blank-box {
	height: 100px;
	max-height: 400px;
	text-align: center;
}

.main-bg.content > div:after,
.tab-pane > div:after {
	clear: both;
	display: block;
	content: "";
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.tab-content .search-wrap {
	margin-bottom: 30px;
}
.main-bg.content h5 {
	//화이트박스 안 타이틀
	height: 30px;
	line-height: 30px;
	vertical-align: bottom;
	font-size: 14px;
	margin: 5px 0 15px 0;
	svg {
		margin-right: 10px;
		color: $color-bl;
	}
	.btn-group {
		float: right;
	}
}

.wbox {
	position: relative;
	background: #ffffff;
	padding: 15px 25px;
	border-radius: 4px;
	box-shadow: 0px 5px 5px 0 rgb(0 0 0 / 5%);
	.tltle small {
		float: right;
	}
}

.wbox:after,
.blank-box:after {
	clear: both;
	display: block;
	content: "";
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.table-wrap,
.pa-wrap,
.map-wrap {
	margin-top: 10px;
	min-height: 65px;
}
.map-wrap {
	min-height: 100px;
}

/*매핑*/
.one-row .form-group {
	height: 34px;
	margin-bottom: 5px !important;
	legend,
	label {
		width: 40%;
		float: left;
	}
	> div {
		width: 60%;
		float: left;
	}
}
/*SVGwrap*/
.svg-Warp {
	padding: 20px 40px;
}

@media (max-width: 996px) {
	.col-sm-12:first-child .wbox {
		margin-bottom: 30px;
	}
}
.overlay-wrap {
	height: 400px;
	line-height: 400px;
}
.overlay-wrap:after {
	clear: both;
	display: block;
	content: "";
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
/**/
.dcu-list-wrap {
	.dcu-modem {
		.wbox {
			height: 90px;
			position: relative;
			background: #293042;
			p {
				font-size: 20px;
				text-align: center;
				margin-top: 12px;
				font-weight: 600;
				color: #fff;
			}
			.stats-wrap {
				position: absolute;
				top: 12px;
				right: 12px;
				.linkage {
					margin-bottom: 8px;
				}
			}
		}
		.dcu-name {
			margin-top: 10px;
			text-align: center;
		}
	}
}

.accordion-wrap .wbox {
	margin-bottom: 30px;
	padding: 0;
	button.collapsed,
	button.not-collapsed {
		border-radius: 0;
		width: 100%;
		height: 70px;
		line-height: 70px;
		text-align: left;

		ul {
			width: 100%;
			.icon-bg {
				width: 50px;
				height: 44px;
				float: left;
				margin: 10px;
				span {
					background: #ecf2f6;
					color: #287fff;
					border-radius: 20px;
					font-size: 23px;
					line-height: 24px;
					text-align: center;
					width: 40px;
					height: 40px;
					padding-top: 7px;
					display: inline-block;
				}
			}
			.title {
				float: left;
				font-size: 18px;
				font-weight: 600;
				height: 44px;
				line-height: 44px;
				margin: 10px;
			}
		}
	}
	.collapse {
		border-top: 1px solid #d6d6d6;
		padding: 1.375rem 1.75rem;
		.icon-bg {
			width: 50px;
			height: 60px;
			float: left;
			font-size: 23px;
			margin-left: 9px;
		}
	}
}

/*검침*/
.chart {
	margin-bottom: 20px;
	.chart-wrap {
		position: relative;
	}
}

.blank-box {
	height: 250px;
	padding-top: 60px;
	span {
		position: relative;
		img {
			width: 80px;
		}
		svg {
			position: absolute;
			top: 17px;
			left: 27px;
			color: #c4c4c4;
		}
	}
	p {
		margin-top: 10px;
		color: #c4c4c4;
	}
}
