@import "style";
@import "search";
@import "dashboard";

.content {
	padding: 15px 40px;
	background: url(../images/bg.png) 0 0 no-repeat #0f1d34;
	color: #fff;
	min-height: 917px;
}
.main-bg.content {
	background: #ecf2f6 !important;
	color: #495057 !important;
}
.main-bg.content > div {
	padding: 0 8px;
	margin-bottom: 30px;
}
.main-location-wrap {
	width: 100%;
	position: relative;
	display: block;
	margin-top: 22px;
	height: 40px;
	padding: 0 8px;
	margin-bottom: 30px;
	h1 {
		font-size: 24px;
		float: left;
		margin: 16px 0 0 0;
		height: 24px;
		vertical-align: bottom;
		font-weight: bold;
	}
}

.main-bg.content .row {
	margin-right: -15px;
	margin-left: -15px;
}
.main-bg.content > div:after,
.tab-pane > div:after {
	clear: both;
	display: block;
	content: "";
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.main-bg.content h5 {
	height: 30px;
	line-height: 30px;
	vertical-align: bottom;
	font-size: 13px;
	margin: 10px 0 15px 0;
}
.tltle svg {
	margin-right: 7px;
	color: #007fff;
}
.tltle .btn-group {
	float: right;
}
.wbox {
	position: relative;
	background: #ffffff;
	padding: 15px 25px;
	border-radius: 4px;
	box-shadow: 0px 5px 5px 0 rgb(0 0 0 / 5%);
}
.box {
	width: 100%;
	min-height: 100px;
	margin: 0 0 20px 0;
	padding: 3px 0px 6px;
	opacity: 4.9;
	box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #6979a9;
	background-image: linear-gradient(to top, #0a1428, #192640);
	border-radius: 4px;
	.chartWarp {
		overflow: hidden;
		padding: 10px;
		width: 100%;
	}
	h5 {
		margin-top: 5px;
		height: 30px;
		line-height: 30px;
		border-bottom: 1px solid #6979a9;
		padding: 0 15px 5px 15px;
		font-family: "Nanum Gothic", sans-serif !important;
		b {
			display: block;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			float: right;
		}
	}
}
.wbox:after,
.box:after {
	clear: both;
	display: block;
	content: "";
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.main-location {
	float: right;
	height: 24px;
	font-size: 12px;
	margin-top: 10px;
	.breadcrumb {
		float: left;
		background-color: inherit !important;
	}
	.breadcrumb-item {
		svg {
			margin-right: 5px;
		}
		a {
			color: #777777 !important;
		}
		a:hover {
			text-decoration: none;
			color: #3b82ec;
		}
	}
}

//tap
.nav-tabs .nav-link {
	border: 1px solid #287fff !important;
	height: 32px;
	padding: 0 20px !important;
	line-height: 31px !important;
	background: #ecf2f6;
	border-radius: 15px !important;
	color: #287fff;
	font-size: 12px;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
	background: #287fff !important;
	border: 1px solid #3b82ec !important;
	color: #ffffff !important;
}
.nav-tabs {
	border-bottom: 0 !important;
	margin-bottom: 20px !important;
}
.nav-tabs li.nav-item {
	margin-right: 11px;
}

.btn-wrap {
	//버튼 그룹
	height: 31px;
	line-height: 31px;
	margin-bottom: 15px !important;
	.btn-group:first-child {
		float: left;
	}
	.btn-group:last-child {
		float: right;
	}
}

.table-wrap,
.pa-wrap,
.map-wrap {
	margin-top: 10px;
	min-height: 65px;
}
.map-wrap {
	min-height: 100px;
}
.one-row .form-group.row {
	height: 34px;
	margin-bottom: 5px;
}
/*SVGwrap*/
.svg-Warp {
	padding: 20px 40px;
}
