@import "style";

/*검침률*/
.inspection {
	li {
		width: 42%;
		float: left;
		&:last-child {
			float: right;
		}
	}
}

/*닐씨*/
.double {
	&.row {
		.col-lg-6 {
			&:first-child {
				padding-left: -15px !important;
				padding-right: 7px !important;
			}
			&:last-child {
				padding-left: 8px !important;
				padding-right: -15px !important;
			}
		}
	}
	h4 {
		padding: 10px 0 0 15px;
		font-size: 14px;
		margin-bottom: 0px;
	}
}
.todayWeather {
	height: 135x;
	.good {
		width: 100px;
		height: 100px;
		float: right;
		background: url(../images/img.png) -262px -271px no-repeat;
		margin-right: 10px;
	}
}
.detaeWeather {
	height: 135px;
	.good {
		width: 100px;
		height: 100px;
		float: right;
		background: url(../images/img.png) -262px -372px no-repeat;
		margin-right: 10px;
	}
}

@media (max-width: 991px) {
	.double.row .col-lg-6:first-child {
		padding-right: 0px !important;
	}
	.double.row .col-lg-6:last-child {
		padding-left: 0px !important;
	}
}

/*하이차트*/
.high-map-wrap {
	position: relative;
	height: 100%;
	.high-map {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.high-table {
		position: absolute;
		bottom: 46px;
		width: 258px;
		height: 155px;
		background: linear-gradient(70deg, rgba(13, 24, 25, 0.08), #0f1e35, rgba(13, 24, 25, 0.08));
		box-shadow: 0px 5px 5px 0 rgb(0 0 0 / 11%);
		ul li {
			text-align: center;
			height: 43px;
			span {
				width: 80px;
				height: 43px;
				line-height: 43px;
				text-align: center;
				display: inline-block;
			}
		}
		ul li:first-child {
			border-bottom: 1px solid #1a2a42;
		}
	}
}

/*전기*/
.presentMenu {
	height: 30px;
	margin: 0px 0 15px 0;
	width: 100%;
	ul {
		height: 30px;
		line-height: 30px;
		font-size: 0.9em;
		box-shadow: 0px 1px 1px 0 rgb(255 255 255 / 11%), inset 0px 1px 1px 0 rgb(0 0 0 / 50%);
		background-color: #0d192d;
		display: block;
		float: right;
		border-radius: 5px;

		li {
			cursor: default;
			margin: 0 10px 0 10px;
			float: right;
			color: #2e4664;
			&.on {
				color: #00ff90;
			}
		}
	}
}

/*서버운영정보*/
.dutyCycle {
	padding: 2px 20px;
	&.cpu {
		margin-top: 25px;
		margin-bottom: 10px;
	}
	h4 {
		width: 100%;
		height: 13px;
		font-size: 0.9em;
		color: #94a0b4;
		margin: 0px 0px 7px 0px;
		span {
			min-width: 30px;
			height: 12px;
			display: inline-block;
		}
		progress {
			display: block !important;
		}
		.title {
			float: left;
		}
		.deta {
			float: right;
		}
	}
}
.serveInfo {
	min-height: 95px;
	padding: 6px 20px;
	margin-top: 20px;
	li {
		padding: 0 2%;
		height: 78px;
		border-radius: 4px;
		float: left;
		width: 23%;
		border: solid 1px #1ee2df;
		background-image: linear-gradient(to top, #75cee2, #23b9da, #1ee4df);
		margin: 0 1%;
	}
	h6 {
		color: #202c51;
		font-size: 0.9em;
		margin-top: 10px;
	}
	span {
		font-size: 1.6em;
		float: right;
		font-weight: bold;
		color: #202c51;
		font-family: none;
		margin-top: 18px;
	}
}
.progress-bar {
	background-image: linear-gradient(to bottom, #1fdede 0, #23bada 100%) !important;
}
.progress {
	background-image: linear-gradient(to bottom, #07132b 0, #07132b 100%) !important;
	height: 5px !important;
}

/*서버현황*/
.regist-info {
	padding: 10px;
}
.regist-info li {
	float: left;
	margin: 2%;
	width: 46%;
}
.regist-info .serve-box {
	height: 71px;
	border: solid 1px #1ee2df;
	background-image: linear-gradient(to top, #75cee2, #23b9da, #1ee4df);
	padding: 13px;
	border-radius: 5px;
	color: #202c51;
}
.serve-box b {
	float: right;
	display: block;
	font-size: 18px;
}

.serve-ex-ip-wrap {
	.serve-ex-ip {
		float: left;
		margin-top: 20px;
		li {
			margin-left: 20px;
		}
		li:last-child {
			font-size: 24px;
		}
	}
	.svg-wrap {
		float: right;
		width: 67px;
		height: 100px;
		margin-right: 37px;
		svg {
			width: 80px;
			height: 80px;
			margin-top: 10px;
		}
	}
}

//하이차트
.highcharts-background {
	background: none !important;
	fill: none !important;
}
rect.highcharts-legend-box {
	fill: none;
}
