@import "style";

.main .navWrap {
	height: 52px;
	padding: 2px;
	z-index: 1000;
	box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2);
	background: $color-ny;
	padding: 0px 25px;
	.navbar a.sidebar-toggle {
		width: 20px;
		height: 20px;
		cursor: pointer;
		margin-top: 4px;
	}
	.infowrap {
		height: 52px;
		li.uerName svg {
			margin-right: 5px;
			color: lighten($color-gr, 1%);
		}
		li {
			height: 52px;
			line-height: 39px;
			float: left;
		}
		a {
			font-size: 14px;
		}
		a:hover {
			color: #ffffff;
		}
	}
}

nav.navbar > a.navbar-brand {
	width: 152px;
	height: 22px;
	display: block;
	background: url(../images/logo.png) no-repeat;
}

.main .menu {
	width: 20px;
	height: 20px;
	display: block;
	background: url(../images/img.png) -152px -56px no-repeat;
	border: 0;
}

.infowrap .aram,
.infowrap .error {
	position: relative;
	.badge {
		position: absolute;
		top: 15px;
		left: 10px;
	}
}

.infowrap .aram a,
.infowrap .error a {
	padding: 0.5rem 0;
	color: #656565;
	margin-right: 14px;
}
.infowrap .aram.on a,
.infowrap .error.on a {
	color: #ff0000;
}
