$color-bg: #ecf2f6;
.loginBg {
	width: 100%;
	height: 100%;
	background: $color-bg;
}
.loginWrap {
	width: 500px;
	height: 520px;
	margin: 0 auto;
	color: #6c757d;
	.logo {
		width: 362px;
		height: 53px;
		background: url("/assets/images/logo_login.png") 0 0 no-repeat;
		margin: 10px auto 23px auto;
	}
	.lnputWrap {
		input {
			margin-bottom: 10px;
		}
	}
	ul {
		width: 500px;
		height: 30px;
		margin-top: 20px;
		li {
			float: left;
		}
		li:last-child {
			float: right;
		}
	}
	.copyright {
		margin: 20px;
		text-align: center;
	}
}
.error {
	color: red;
}
