//dash용 블랙계열의 scss
@import "style";

.box {
	width: 100%;
	min-height: 100px;
	margin: 0 0 20px 0;
	padding: 3px 0px 6px;
	opacity: 4.9;
	box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #6979a9;
	background-image: linear-gradient(to top, #0a1428, #192640);
	border-radius: 4px;
	.chartWarp {
		overflow: hidden;
		padding: 10px 10px 0 10px;
		width: 100%;
	}
	h5 {
		margin-top: 5px;
		height: 30px;
		line-height: 30px;
		border-bottom: 1px solid #6979a9;
		padding: 0 15px 5px 15px;
		font-family: "Nanum Gothic", sans-serif !important;
		b {
			display: block;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			float: right;
		}
	}
}

.box:after {
	clear: both;
	display: block;
	content: "";
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

/*메인대시보드 전기 공통으로 사용*/
.presentMenu {
	height: 30px;
	margin: 0px 0 15px 0;
	width: 100%;
	ul {
		height: 30px;
		line-height: 30px;
		font-size: 0.9em;
		box-shadow: 0px 1px 1px 0 rgb(255 255 255 / 11%), inset 0px 1px 1px 0 rgb(0 0 0 / 50%);
		background-color: #0d192d;
		display: block;
		float: right;
		border-radius: 5px;

		li {
			cursor: default;
			margin: 0 10px 0 10px;
			float: right;
			color: #2e4664;
			&.on {
				color: $color-gn;
			}
		}
	}
}

/*서버운영정보*/
.dutyCycle {
	padding: 2px 20px;
	&.cpu {
		margin-top: 25px;
		margin-bottom: 10px;
	}
	h4 {
		width: 100%;
		height: 13px;
		font-size: 0.9em;
		color: #94a0b4;
		margin: 0px 0px 7px 0px;
		span {
			min-width: 30px;
			height: 12px;
			display: inline-block;
		}
		progress {
			display: block !important;
		}
		.title {
			float: left;
		}
		.deta {
			float: right;
		}
	}
}
.serveInfo {
	min-height: 95px;
	padding: 6px 20px;
	margin-top: 20px;
	li {
		padding: 0 2%;
		height: 78px;
		border-radius: 4px;
		float: left;
		width: 23%;
		border: solid 1px $color-gn;
		background: rgb(117, 206, 226);
		background: linear-gradient(45deg, rgba(117, 206, 226, 1) 9%, rgba(19, 183, 216, 1) 44%, rgba(35, 255, 240, 1) 78%, rgba(30, 228, 223, 1) 100%);
		margin: 0 1%;
	}
	h6 {
		color: #202c51;
		font-size: 0.9em;
		margin-top: 10px;
	}
	span {
		font-size: 1.4em;
		float: right;
		font-weight: bold;
		color: #202c51;
		font-family: none;
		margin-top: 18px;
	}
}

/*서버현황*/
.regist-info {
	padding: 10px;
}
.regist-info li {
	float: left;
	margin: 2%;
	width: 46%;
}
.regist-info .serve-box {
	height: 71px;
	border: solid 1px $color-gn;
	background-image: linear-gradient(to top, #75cee2, #23b9da, #1ee4df);
	padding: 13px;
	border-radius: 5px;
	color: #202c51;
}
.serve-box b {
	float: right;
	display: block;
	font-size: 18px;
}

.serve-ex-ip-wrap {
	min-height: inherit;
	> ul {
		padding: 8px 5px 5px 5px;
		border-radius: 20px;
		margin-top: 17px;
		margin-left: 20px;
		width: 36px;
		float: left;
		font-size: 11px;
		text-align: center;
		background: #070e1f;
		li:first-child {
			margin-bottom: 3px;
		}
		.linkage-text {
			color: $color-gn;
		}
		.unlinkage-text {
			color: $color-rd;
		}
	}
	.serve-ex-ip {
		float: left;
		margin-top: 17px;
		li {
			margin-left: 20px;
		}
		li:last-child {
			font-size: 14px;
		}
	}
	.svg-wrap-text {
		float: right;
		width: 67px;
		height: 70px;
		line-height: 70px;
		margin-right: 20px;
	}
}

.box.svg {
	h6 {
		margin: 12px 0 0 20px;
	}
	.svg-wrap {
		width: 40px;
		height: 40px;
		margin-right: 5px;
		margin-top: 16px;
		float: right;
	}
	.data {
		width: 50px;
		height: 50px;
		margin: 19px 42px 0 0;
		float: right;
		font-size: 21px;
	}
}

//하이차트 공통
.highcharts-background {
	background: none !important;
	fill: none !important;
}
rect.highcharts-legend-box {
	fill: none;
}
