@import "style";

.content {
	padding: 15px 40px 0px 40px;
	background: url(../images/bg.png) 0 0 no-repeat #09172e;
	color: #fff;
	height: 100%;
}
.main-bg.content {
	background: $color-gy !important;
	color: $color-main-gy !important;
}

table {
	//기본 테이블
	margin-bottom: 0 !important;
	font-size: 12px !important;
	.error td {
		color: $color-rd !important;
	}
	.custom-control {
		//체크박스
		padding-left: 0;
		height: 20px;
		line-height: 20px;
	}
	.custom-control-label {
		//체크박스 클릭 영역
		height: 24px;
		width: 24px;
		left: 7px;
		z-index: 1;
		position: absolute;
		margin-bottom: 0;
		vertical-align: top;
	}
	input[type="checkbox"] {
		vertical-align: middle;
		line-height: 16px;
	}
	input[type="text"] {
		width: 100px;
		padding: 0.2rem 0.5rem;
		height: calc(1.5em + 0.75rem);
		margin: 0 auto;
	}
}

.main-location-wrap,
.search-wrap,
.btn-filter-wrap,
.table-wrap,
.pa-wrap,
.btn-only-wrap,
.dcu-list-wrap,
.accordion-wrap,
.row-wrap,
.box-wrap {
	padding: 0 8px;
	margin-bottom: 30px;
}
.main-location-wrap:after,
.search-wrap:after,
.btn-filter-wrap:after,
.table-wrap:after,
.pa-wrap:after,
.btn-only-wrap:after,
.dcu-list-wrap:after,
.accordion-wrap:after,
.row-wrap:after,
.box-wrap:after {
	clear: both;
	display: block;
	content: "";
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.blank-box {
	height: 100px;
	max-height: 400px;
	text-align: center;
}
.blank-box:after {
	clear: both;
	display: block;
	content: "";
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.tab-content .search-wrap {
	margin-bottom: 30px;
}

.table-wrap,
.pa-wrap,
.map-wrap {
	margin-top: 10px;
	min-height: 65px;
}
.map-wrap {
	min-height: 100px;
}

/*SVGwrap*/
.svg-Warp {
	padding: 10px 20px;
	overflow: hidden;
}

.overlay-wrap {
	height: 400px;
	line-height: 400px;
}
.overlay-wrap:after {
	clear: both;
	display: block;
	content: "";
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.blank-box {
	height: 250px;
	padding-top: 60px;
	span {
		position: relative;
		img {
			width: 80px;
		}
		svg {
			position: absolute;
			top: 17px;
			left: 27px;
			color: #c4c4c4;
		}
	}
	p {
		margin-top: 10px;
		color: #c4c4c4;
	}
}
