//메인화면 타이틀, breadcrumb

.main-location-wrap {
	width: 100%;
	position: relative;
	display: block;
	margin-top: 22px;
	height: 40px;
	padding: 0 8px;
	margin-bottom: 30px;
	h1 {
		font-size: 24px;
		float: left;
		margin: 16px 0 0 0;
		height: 24px;
		vertical-align: bottom;
		font-weight: bold;
	}
}
.main-location {
	float: right;
	height: 24px;
	font-size: 12px;
	margin-top: 10px;
	.breadcrumb {
		float: left;
		background-color: inherit !important;
	}
	.breadcrumb-item {
		svg {
			margin-right: 5px;
		}
		a {
			color: #777777 !important;
		}
		a:hover {
			text-decoration: none;
			color: $color-bl;
		}
	}
}
