@import "style";

.wbox {
	position: relative;
	background: #ffffff;
	padding: 15px 25px;
	border-radius: 4px;
	box-shadow: 0px 5px 5px 0 rgb(0 0 0 / 5%);
	h5 {
		//화이트박스 안 타이틀
		height: 30px;
		line-height: 30px;
		vertical-align: bottom;
		font-size: 14px;
		margin: 5px 0 15px 0;
		svg {
			margin-right: 10px;
			color: $color-bl;
		}
		.btn-group {
			float: right;
		}
	}
	.tltle small {
		float: right;
	}
}

.wbox:after {
	clear: both;
	display: block;
	content: "";
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
