@mixin title() {
	margin-top: 5px;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #6979a9;
	padding: 0 15px 5px 15px;
	font-family: "NanumSquare", sans-serif;
}

.status-board .box h5 {
	@include title;
	color: red; //수정예정
}
