@import "style";

.search-wrap {
	position: relative;
	.search-img {
		background: #ecf2f6;
		border-radius: 20px;
		padding: 8px;
		width: 34px;
		height: 34px;
		margin-right: 10px;
		float: left;
		s svg {
			margin-top: 0px;
			margin-left: 2px;
			font-size: 14px;
		}
	}
	.search {
		padding-left: 65px;
		padding-right: 110px;
	}
	.btn-wrap {
		right: 19px;
		bottom: 15px;
		width: 80px;
		height: unset;
		position: absolute;
		margin-bottom: 0 !important;
		top: 15px;
	}
	.b-form-datepicker label {
		white-space: nowrap !important;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media (max-width: 1200px) {
	.search-wrap .search-img {
		display: none;
	}
	.search-wrap .search {
		padding: 0;
	}
	.search-wrap {
		height: inherit !important;
		.wbox {
			height: inherit !important;
			.col-lg-4 {
				width: 30% !important;
				max-width: 30% !important;
				flex: 30%;
			}
			.col-lg-8 {
				width: 70% !important;
				max-width: 70% !important;
				flex: 70%;
			}
		}
		.btn-wrap {
			margin-top: 10px;
			width: 100%;
			left: inherit !important;
			top: inherit !important;
			right: inherit !important;
			bottom: inherit !important;
			position: inherit !important;
			button {
				background: #ffffff !important;
				border: 1px solid #ced4da !important;
				color: #212529;
			}
		}
	}
}
