@import "style";

.search-wrap1 {
	//한줄
	height: 60px;
	position: relative;
	.wbox {
		height: 60px;
	}
	.search-img {
		background: $color-gy;
		border-radius: 20px;
		padding: 10px;
		width: 40px;
		height: 40px;
		margin-right: 10px;
		float: left;
		position: absolute;
		top: 10px;
		left: 25px;
		svg {
			margin-top: 0px;
			margin-left: 2px;
			font-size: 14px;
		}
	}
	.search {
		position: absolute;
		top: 13px;
		left: 95px;
		right: 108px;
		bottom: 0;
	}
	.btn-wrap {
		right: 19px;
		bottom: 15px;
		width: 80px;
		height: unset;
		position: absolute;
		margin-bottom: 0 !important;
		top: 15px;
	}
}
.search-wrap2 {
	//두줄
	position: relative;
	.wbox {
		height: 100px;
	}
	.btn-wrap {
		button {
			height: 100%;
		}
	}
	.search-img {
		width: 50px;
		height: 50px;
		margin-right: 10px;
		float: left;
		position: absolute;
		top: 24px;
		left: 25px;
		background: $color-gy;
		border-radius: 30px;
		padding: 4px 5px 5px 17px;
		svg {
			color: $color-bl;
			margin: 14px 0px 0 0px;
		}
	}
	.search {
		position: absolute;
		top: 13px;
		left: 95px;
		right: 108px;
		bottom: 0;
	}
	.btn-wrap {
		right: 19px;
		bottom: 15px;
		width: 70px;
		height: unset;
		position: absolute;
		margin-bottom: 0 !important;
		top: 15px;
	}
}

@media (max-width: 1200px) {
	.search-wrap2 .search-img,
	.search-wrap1 .search-img {
		display: none;
	}
	.search-wrap2 .search,
	.search-wrap1 .search {
		left: 15px;
	}
}
