//search
.tab-content .search-wrap1,
.tab-content .search-wrap2 {
	margin-bottom: 30px;
}
.search-wrap1 {
	height: 60px;
	position: relative;
}
.search-wrap2 {
	position: relative;
}
.search-wrap1 .wbox {
	height: 60px;
}
.search-wrap2 .wbox {
	height: 100px;
}
.search-wrap1 .search-img,
.search-wrap2 .search-img {
	width: 50px;
	margin-right: 10px;
	float: left;
	position: absolute;
	top: 24px;
	left: 25px;
}
.search-wrap1 .search,
.search-wrap2 .search {
	position: absolute;
	top: 13px;
	left: 95px;
	right: 108px;
	bottom: 0;
}
.search-wrap1 .btn-wrap,
.search-wrap2 .btn-wrap {
	right: 19px;
	bottom: 15px;
	width: 70px;
	height: unset;
	position: absolute;
	margin-bottom: 0 !important;
	top: 15px;
}
.search-wrap2 .btn-wrap button {
	height: 100%;
}
.search-wrap1 .search-img svg {
	margin-top: 0px;
	margin-left: 8px;
}
.search-wrap2 .search-img {
	background: #ecf2f6;
	border-radius: 30px;
	height: 50px;
	padding: 4px 5px 5px 17px;
}
.search-wrap2 .search-img svg {
	color: #287fff;
	margin: 14px 0px 0 0px;
}
@media (max-width: 1200px) {
	.search-wrap2 .search-img svg {
		display: none;
	}
}
