//대시보드 현황판 bg
//대시보드 현황판 폰트컬러
//메인 bg
//메인 폰트컬러
//블루 bg
//레드 bg
//그린 bg
//화이트 bg
$color-bg: #ecf2f6;
$color-dashboard-bg: #162238;
$color-font: #ecf2f6;
$color-dashboard-bg: #162238;

body {
	font-size: 12px;
}
input,
.btn {
	font-size: 14px;
}
