@import "style";

.table {
	margin-bottom: 0 !important;
}

table {
	//기본 테이블
	font-size: 12px !important;
	.error td {
		color: $color-rd !important;
	}
	.custom-control {
		//체크박스
		padding-left: 0;
		height: 20px;
		line-height: 20px;
	}
	.custom-control-label {
		//체크박스 클릭 영역
		height: 24px;
		width: 24px;
		left: 7px;
		z-index: 1;
		position: absolute;
		margin-bottom: 0;
		vertical-align: top;
	}
	input[type="checkbox"] {
		vertical-align: middle;
		line-height: 16px;
	}
	input[type="text"] {
		width: 100px;
		padding: 0.2rem 0.5rem;
		height: calc(1.5em + 0.75rem);
		margin: 0 auto;
	}
}

//대시보드 테이블

.bgtable {
	background: #fff;
	color: $color-main-gy !important;
	text-align: center;
	border-bottom: 1px solid $color-gr;
	tr th {
		border-top: 1px solid $color-bl !important;
		border-bottom: 3px solid $color-gr !important;
		height: 24px;
		padding: 0.9rem;
	}
	tr td {
		vertical-align: middle;
	}
	tr td.br {
		border-right: 1px solid $color-gr;
	}
}

//화이트 전체 테이블
.basic-table {
	background: #fff;
	color: $color-main-gy !important;
	text-align: center;
	border-bottom: 1px solid $color-gr;
	tr th {
		border-bottom: 2px solid $color-gr !important;
		height: 24px;
		padding: 0.5rem;
	}
	tr td {
		padding: 0.5rem;
		height: 24px;
		line-height: 24px;
		vertical-align: middle;
	}
	.custom-control-input {
		position: inherit;
		opacity: inherit;
	}
}

//대시보드 테이블
.tableContainer {
	width: 90%;
	margin: 10px auto 0 auto;
	height: 260px;
	overflow: auto;
	table {
		border-top: 1px solid $color-ny !important;
		tr th {
			border-top: 1px solid $color-ny-table !important;
			background: #172137;
			border-bottom: 1px solid $color-ny-table !important;
			font-weight: normal;
			height: 24px;
			padding: 0.5rem;
			color: #ffffff !important;
		}
		tr td {
			border-top: 1px solid $color-ny-table !important;
			height: 18px;
			padding: 0.5rem;
			color: #737d85 !important;
		}
	}
}
