@charset "utf-8";
@font-face {
	font-family: NanumSquare;
	font-style: normal;
	font-weight: normal;
	src: url(/@/assets/font/NanumSquareB.eot);
	src: url(/@/assets/font/NanumSquareB.woff), url(/@/assets/font/NanumSquareB.ttf) format("truetype");
}
@font-face {
	font-family: alarm_clock;
	font-style: normal;
	font-weight: normal;
	src: url(/@/assets/font/alarm_clock.eot);
	src: url(/@/assets/font/alarm_clock.woff), url(/@/assets/font/alarm_clock.ttf) format("truetype");
}

/* CSS Document */
html {
	width: 100%;
	height: 100%;
	font-size: 16px;
}
body {
	height: 100%;
	font-family: "Nanum Gothic", sans-serif !important;
}
.row {
	margin: 0 !important;
}
.row:after {
	clear: inherit !important;
}
.hide {
	display: none;
}
.wrapper {
	align-items: stretch;
	display: flex;
	width: 100%;
}
.clearfix {
	*zoom: 1;
}
.clearfix:before,
.clearfix:after {
	display: block;
	line-height: 0;
}
.clearfix:after {
	clear: both;
}
/*color*/
.btn {
	font-size: 0.8rem !important;
}
.btn-primary {
	background: #3b82ec !important;
	border: 0 !important;
}
.btn-light {
	background: #ffffff !important;
	border: 1px solid #ced4da !important;
}
.btn-blight {
	background: #ffffff !important;
	border: 1px solid #3b82ec !important;
	color: #3b82ec !important;
}
.b-Color {
	color: #495057 !important;
}
.p-Color {
	color: #007fff !important;
	font-style: normal;
}
.r-color {
	color: #d9534f !important;
}
/*layout*/
.b-sidebar-outer {
	float: left !important;
	position: inherit !important;
	top: inherit !important;
	left: inherit !important;
	right: inherit !important;
	height: inherit !important;
	background: #050e21;
}
.b-sidebar {
	width: 263px !important;
	position: relative !important;
}
.main {
	display: flex;
	width: 100%;
	min-height: 100vh;
	min-width: 0;
	transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out, margin-right 0.35s ease-in-out, right 0.35s ease-in-out;
	flex-direction: column;
}
/*scrollbar*/
::-webkit-scrollbar-track {
	/*-webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255);*/
	border-radius: 10px;
	background-color: rgb(134, 134, 134);
}
::-webkit-scrollbar {
	width: 3px;
	background-color: #e2eeff;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	/*-webkit-box-shadow: inset 0 0 6px rgb(112, 114, 117);*/
	background-color: #eaecf1;
	cursor: pointer;
}
::-webkit-scrollbar-corner {
	background-color: #000;
}
