$color-rd: #d9534f; //레드
$color-gn: #00ff90; //그린
$color-gn: #1ee2df; //좌측 네비게이션 온 그린
$color-wh: #162238;
$color-bl: #287fff; //블루
$color-bk: #162238; //대시보드 현황판 bg
$color-w: #162238; //대시보드 현황판 폰트컬러
$color-gy: #ecf2f6; //메인 bg 그레이
$color-main-gy: #6c757d; //메인 폰트 그레이

$color-ny: #07132b; //헤더 네이비
$color-gr: #d3d3d3; //헤더 a 글씨

.main .navWrap {
	height: 52px;
	padding: 2px;
	box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2);
	background: $color-ny;
	padding: 0px 25px;
	.navbar a.sidebar-toggle {
		width: 20px;
		height: 20px;
		cursor: pointer;
		margin-top: 4px;
	}
	.infowrap {
		height: 52px;
		li {
			height: 52px;
			line-height: 39px;
			float: left;
		}
		a {
			font-size: 14px;
		}
		a:hover {
			color: #ffffff;
		}
	}
}

nav.navbar > a.navbar-brand {
	width: 152px;
	height: 22px;
	display: block;
	background: url(../images/logo.png) no-repeat;
}

.main .menu {
	width: 20px;
	height: 20px;
	display: block;
	background: url(../images/img.png) -152px -56px no-repeat;
	border: 0;
}

.infowrap .aram i,
.infowrap .error i {
	width: 20px;
	height: 20px;
	margin-top: 9px;
}

.infowrap .aram a,
.infowrap .error a {
	padding: 0.5rem 0;
	color: #656565;
	margin-right: 10px;
}
.infowrap .aram.on a,
.infowrap .error.on a {
	color: #ff0000;
}
