@charset "utf-8";

.theme_white .main .navWrap {
	box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.05);
	background-color: #ffffff;
}
.theme_white .main .navbar a.sidebar-toggle {
	margin-top: 0px;
}
.theme_white .infowrap a {
	color: #36383a;
}
.theme_white .infowrap a:hover {
	color: #3b82ec;
}
.theme_white nav.navbar > a.navbar-brand {
	background: url(../images/logo_wh.png) no-repeat;
}
.theme_white .main .menu {
	background: url(../images/img_wh.png) -149px -73px no-repeat;
}
.theme_white .infowrap .aram a,
.theme_white .infowrap .error a {
	color: #d3d3d3;
	margin-right: 10px;
}
.theme_white .infowrap .aram.on a,
.theme_white .infowrap .error.on a {
	color: #ff0000;
}
