@charset "utf-8";
.main {
	display: flex;
	width: 100%;
	min-height: 100vh;
	min-width: 0;
	transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out, margin-right 0.35s ease-in-out, right 0.35s ease-in-out;
	flex-direction: column;
}
.main .navWrap {
	height: 52px;
	padding: 2px;
	box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
	margin-bottom: 20px;
	padding: 0px 25px;
}
.main .navbar a.sidebar-toggle {
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	overflow: hidden;
	cursor: pointer;
}
ul.infowrap {
	height: 52px;
}
ul.infowrap li {
	float: left;
	height: 52px;
	line-height: 39px;
}
.infowrap a {
	color: #36383a;
	font-size: 14px;
}
.infowrap a:hover {
	color: #ffffff;
}
nav.navbar > a.navbar-brand {
	width: 152px;
	height: 22px;
	display: block;
	background: url(../images/logo_wh.png) no-repeat;
}
.main .menu {
	width: 20px;
	height: 20px;
	display: block;
	background: url(../images/img_wh.png) -149px -73px no-repeat;
	border: 0;
}
.infowrap .aram i,
.infowrap .error i {
	width: 27px;
	height: 27px;
	margin-top: 4px;
}
.infowrap .aram a,
.infowrap .error a {
	padding: 0.5rem 0;
}
.infowrap .aram i {
	background: url(../images/img_wh.png) -367px -13px no-repeat;
	display: inline-block;
}
.infowrap .aram.on i {
	background: url(../images/img_wh.png) -410px -2px no-repeat;
}
.infowrap .error {
	margin-right: 4px;
}
.infowrap .error i {
	background: url(../images/img_wh.png) -438px -13px no-repeat;
	display: inline-block;
}
.infowrap .error.on i {
	background: url(../images/img_wh.png) -460px -2px no-repeat;
}
