@charset "utf-8";

.highcharts-background {
	background: none !important;
	fill: none !important;
}
rect.highcharts-legend-box {
	fill: none;
}

.status-board {
	background: url(../images/bg.png) 0 0 no-repeat #0f1d34;
	color: #ffffff !important;
}
.wrapper {
	align-items: stretch;
	display: flex;
	width: 100%;
}
.sidebar {
	min-width: 260px;
	max-width: 260px;
	transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out, margin-right 0.35s ease-in-out, right 0.35s ease-in-out;
	direction: ltr;
	background: #07132b;
}
a.logoWrap {
	cursor: pointer;
	width: 152px;
	height: 22px;
	display: block;
	margin: 17px 0px 13px 16px;
	background: url("../images/logo.png") 0 0 no-repeat;
}
.status-board ul.sidebarNav {
	margin-top: 5px !important;
	border-top: 1px solid #14203d;
}
.sidebarNav li {
	position: relative;
}
.status-board ul.sidebarNav > li > a:before {
	content: " ";
	border: solid;
	border-width: 0 0.1rem 0.1rem 0;
	display: inline-block;
	padding: 2px;
	transform: rotate(45deg);
	position: absolute;
	top: 1.3rem;
	right: 1.5rem;
	transition: all 0.2s ease-out;
}
.status-board ul.sidebarNav > li.on > a:before {
	transform: rotate(-135deg);
	top: 1.1rem;
}
.status-board ul.sidebarNav > li.on .subNav {
	display: block;
}
.status-board .subNav a {
	font-size: 13px !important;
	color: #b3b3b3 !important;
}
.status-board ul.sidebarNav a {
	color: #e4e4e4;
	font-size: 14px;
	cursor: pointer;
}
.status-board ul.sidebarNav a:hover {
	text-decoration: none;
}
.status-board ul.sidebarNav > li > a {
	font-weight: bold;
	height: 38px;
	line-height: 38px;
	width: 260px;
	border-bottom: 1px solid #14203d;
	display: inline-block;
}
.status-board ul.sidebarNav > li > a:hover {
	background: #091734;
}
.status-board ul.subNav {
	border-top: 1px solid #14203d;
	background: #050e21;
	display: none;
}
.status-board ul.subNav li {
	height: 38px;
	line-height: 38px;
	border-bottom: 1px solid #14203d;
	display: block;
	padding: 0px 30px 0 42px;
}
.status-board ul.subNav li:hover {
	background: #07122b;
}
.status-board ul.subNav li.on a {
	color: #ffffff !important;
	font-weight: bold;
}

.status-board .sidebarNav i {
	width: 16px;
	display: block;
	margin-right: 12px;
	float: left;
	margin-left: 15px;
	height: 38px;
	line-height: 38px;
}
.status-board .sidebarNav .facilities i {
	background: url(../images/img.png) 0px 8px no-repeat;
}
.status-board .sidebarNav .read i {
	background: url(../images/img.png) 0px -40px no-repeat;
}
.status-board .sidebarNav .charge i {
	background: url(../images/img.png) 0px -88px no-repeat;
}
.status-board .sidebarNav .error i {
	background: url(../images/img.png) 0px -136px no-repeat;
}
.status-board .sidebarNav .analysis i {
	background: url(../images/img.png) 0px -182px no-repeat;
}
.status-board .sidebarNav .customer i {
	background: url(../images/img.png) 0px -230px no-repeat;
}
.status-board .sidebarNav .set i {
	background: url(../images/img.png) 0px -279px no-repeat;
}

.status-board .sidebarNav .on .facilities i {
	background: url(../images/img.png) -51px 8px no-repeat;
}
.status-board .sidebarNav .on .read i {
	background: url(../images/img.png) -51px -40px no-repeat;
}
.status-board .sidebarNav .on .charge i {
	background: url(../images/img.png) -51px -88px no-repeat;
}
.status-board .sidebarNav .on .error i {
	background: url(../images/img.png) -51px -136px no-repeat;
}
.status-board .sidebarNav .on .analysis i {
	background: url(../images/img.png) -51px -182px no-repeat;
}
.status-board .sidebarNav .on .customer i {
	background: url(../images/img.png) -51px -230px no-repeat;
}
.status-board .sidebarNav .on .set i {
	background: url(../images/img.png) -51px -279px no-repeat;
}

.status-board .on span {
	color: #1ee4df;
}

.main {
	display: flex;
	width: 100%;
	min-height: 100vh;
	min-width: 0;
	transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out, margin-right 0.35s ease-in-out, right 0.35s ease-in-out;
	flex-direction: column;
}
.main .menu {
	width: 20px;
	height: 20px;
	display: block;
	background: url(../images/img.png) -152px -56px no-repeat;
}
.main .navbar {
	height: 52px;
	padding: 14px 20px 15px 17px;
	box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2);
	background-color: #07132b;
}
.main .navbar a.sidebar-toggle {
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	overflow: hidden;
	cursor: pointer;
	margin-top: 4px;
}
.main .navbar ul.infowrap {
	float: right;
}

ul.infowrap li {
	float: left;
}
.status-board .main .navbar .infowrap {
	color: #d3d3d3;
}
.status-board .main .navbar .infowrap .aram {
	width: 20px;
	margin-right: 20px;
}
.status-board .main .navbar .infowrap .aram i {
	background: url(../images/img.png) -379px -2px no-repeat;
	height: 20px;
	width: 20px;
	display: inline-block;
}
.status-board .main .navbar .infowrap .aram.on i {
	background: url(../images/img.png) -410px -2px no-repeat;
}
.status-board .main .navbar .infowrap .error {
	width: 20px;
	height: 20px;
	margin-right: 4px;
}
.status-board .main .navbar .infowrap .error i {
	background: url(../images/img.png) -441px -2px no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
}
.status-board .main .navbar .infowrap .error.on i {
	background: url(../images/img.png) -460px -2px no-repeat;
}
.status-board .main .navbar .infowrap .user {
	height: 20px;
	margin-right: 20px;
}
.status-board .main .navbar .infowrap .uerName {
	height: 20px;
	margin-right: 20px;
}
.status-board .main .navbar .infowrap .logout {
	width: auto;
	height: 20px;
	margin-right: 20px;
}
.status-board .main .navbar .infowrap .logout a {
	color: #d3d3d3;
}
.status-board .main .navbar .infowrap .logout a:hover {
	color: #ffffff;
	text-decoration: none;
}

/*dashbord content*/
.content {
	padding: 0 15px;
}
.status-board .box {
	width: 100%;
	min-height: 100px;
	margin: 0 615px 27px 0;
	padding: 3px 0px 6px;
	opacity: 4.9;
	box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #6979a9;
	background-image: linear-gradient(to top, #0a1428, #192640);
	border-radius: 4px;
}
.status-board .box h5 {
	margin-top: 5px;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #6979a9;
	padding: 0 15px 5px 15px;
	font-family: "NanumSquare", sans-serif !important;
}
.status-board .box h5 b {
	float: right;
}
.fontC {
	color: #00ff90;
	text-shadow: rgba(255, 255, 255, 0.7) 0px 0px 5px;
}
.status-board .box .chartWarp {
	overflow: hidden;
	padding: 10px;
	width: 100%;
}

/* for MS계열 브라우저 */
@keyframes blink {
	0% {
		color: rgba(255, 255, 255, 0.5);
	}
	50% {
		color: rgba(255, 255, 255, 1);
	}
}

/* for Chrome, Safari */
@-webkit-keyframes blink {
	0% {
		color: rgba(255, 255, 255, 0.5);
	}
	50% {
		color: rgba(255, 255, 255, 1);
	}
}

/*시간*/
.timeWrap {
	height: 30px;
	margin: 0px 0 15px 0;
	width: 100%;
}
.timeWrap .date {
	float: left;
}
.timeWrap .time {
	float: right;
	font-size: 1.8em;
	font-family: alarm_clock;
}
.blink {
	animation: blink 1s step-end infinite;
	-webkit-animation: blink 1s step-end infinite;
}

/*검침률*/
.inspection li {
	width: 42%;
	float: left;
}
.inspection li:last-child {
	float: right;
}

/*닐씨*/
.double.row .col-lg-6:first-child {
	padding-left: 0 !important;
	padding-right: 7px !important;
}
.double.row .col-lg-6:last-child {
	padding-left: 8px !important;
	padding-right: 0px !important;
}
.double h4 {
	padding: 0 0 0 15px;
	font-size: 14px;
	margin-bottom: 0px;
}
.todayWeather .good {
	width: 100px;
	height: 100px;
	float: right;
	background: url(../images/img.png) -262px -271px no-repeat;
	margin-right: 10px;
}
.detaeWeather .good {
	width: 100px;
	height: 100px;
	float: right;
	background: url(../images/img.png) -262px -372px no-repeat;
	margin-right: 10px;
}
.todayWeather,
.detaeWeather {
	height: 130px;
}
.todayWeather,
.detaeWeather {
	height: 130px;
}

@media (max-width: 991px) {
	.double.row .col-lg-6:first-child {
		padding-right: 0px !important;
	}
	.double.row .col-lg-6:last-child {
		padding-left: 0px !important;
	}
}

/*전기*/
.presentMenu {
	height: 30px;
	margin: 0px 0 15px 0;
	width: 100%;
}
.presentMenu ul {
	height: 30px;
	line-height: 30px;
	font-size: 0.9em;
	box-shadow: 0px 1px 1px 0 rgb(255 255 255 / 20%), inset 0px 1px 1px 0 rgb(44 54 91 / 50%);
	background-color: #111c31;
	display: block;
	float: right;
}
.presentMenu ul li {
	cursor: default;
	margin: 0 10px 0 10px;
	float: right;
	color: #2e4664;
}
.presentMenu ul li.on {
	color: #00ff90;
}

/*서버운영정보*/
.dutyCycle {
	padding: 2px 20px;
}
.dutyCycle.cpu {
	margin-top: 25px;
}
.dutyCycle h4 {
	width: 100%;
	height: 13px;
	font-size: 0.9em;
	color: #94a0b4;
	margin: 0px 0px 3px 0px;
}
.dutyCycle h4 span {
	min-width: 30px;
	height: 12px;
	display: inline-block;
}
.dutyCycle h4 progress {
	display: block !important;
}
.dutyCycle h4 .title {
	float: left;
}
.dutyCycle h4 .deta {
	float: right;
}
.serveInfo {
	min-height: 95px;
	padding: 6px 20px;
}
.serveInfo li {
	padding: 0 2%;
	height: 78px;
	border-radius: 4px;
	float: left;
	width: 23%;
	border: solid 1px #1ee2df;
	background-image: linear-gradient(to top, #75cee2, #23b9da, #1ee4df);
	margin: 0 1%;
}
.serveInfo h6 {
	color: #202c51;
	font-size: 0.9em;
}
.serveInfo span {
	font-size: 1.4em;
	float: right;
	font-weight: bold;
	color: #202c51;
	font-family: none;
	margin-top: 9px;
}

/*서버운영정보*/

/*
.tableWarp {position: relative;width: 98%;padding: 35px 0 20px;}
.tableContainer {width: 100%;height: 220px;overflow: auto;}
.tableContent {width: 100%;max-width: 100%;}
table.tableContent thead tr {position: absolute;width: 100%;top: 10px;left: 0;right: 0;height: 20px;}
table.tableContent th, table.tableContent td {background: #0f1c34;}*/

.table > thead > tr > th {
	border-bottom: 1px solid #1a2c40 !important;
}
.table > tbody > tr > td {
	border-top: 1px solid #1a2c40 !important;
}

.tableWarp {
	position: relative;
	width: 95%;
	padding: 0px 0 10px;
	margin: 0 auto;
	height: 271px;
	overflow-y: auto;
}
.progress-bar {
	background-image: linear-gradient(to bottom, #1fdede 0, #23bada 100%) !important;
}
.progress {
	background-image: linear-gradient(to bottom, #07132b 0, #07132b 100%) !important;
	height: 5px !important;
}
