@charset "utf-8";
.b-sidebar > .b-sidebar-header {
	padding: 0 !important;
}
.b-sidebar:not(.b-sidebar-right) > .b-sidebar-header .close {
	margin-left: auto;
	position: absolute;
	top: 16px;
	right: 13px;
	color: #ffffff !important;
}
.sidebar {
	min-width: 260px;
	max-width: 260px;
	transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out, margin-right 0.35s ease-in-out, right 0.35s ease-in-out;
	direction: ltr;
	background: #07132b;
}
a.logoWrap {
	cursor: pointer;
	width: 152px;
	height: 22px;
	display: block;
	margin: 17px 0px 13px 16px;
	background: url("../images/logo.png") 0 0 no-repeat;
}
z ul.sidebarNav {
	margin-top: 5px !important;
	border-top: 1px solid #14203d;
}
.sidebarNav li {
	position: relative;
}
ul.sidebarNav > li > a:before {
	content: " ";
	border: solid;
	border-width: 0 0.1rem 0.1rem 0;
	display: inline-block;
	padding: 2px;
	transform: rotate(45deg);
	position: absolute;
	top: 1.3rem;
	right: 1.5rem;
	transition: all 0.2s ease-out;
}
ul.sidebarNav > li.on > a:before {
	transform: rotate(-135deg);
	top: 1.1rem;
}
ul.sidebarNav > li.on .subNav {
	display: block;
}
.subNav a {
	font-size: 13px !important;
	color: #b3b3b3 !important;
}
ul.sidebarNav a {
	color: #e4e4e4;
	font-size: 14px;
	cursor: pointer;
}
ul.sidebarNav a:hover {
	text-decoration: none;
}
ul.sidebarNav > li > a {
	font-weight: 100;
	height: 38px;
	line-height: 38px;
	width: 260px;
	border-bottom: 1px solid #14203d;
	display: inline-block;
}
ul.sidebarNav > li > a:hover {
	background: #091734;
}
ul.subNav {
	border-top: 1px solid #14203d;
	background: #050e21;
	display: none;
}
ul.subNav li {
	height: 38px;
	line-height: 38px;
	border-bottom: 1px solid #14203d;
	display: block;
	padding: 0px 30px 0 42px;
}
ul.subNav li:hover {
	background: #07122b;
}
ul.subNav li.on a {
	color: #ffffff !important;
	font-weight: bold;
}
.sidebarNav i {
	width: 16px;
	display: block;
	margin-right: 12px;
	float: left;
	margin-left: 15px;
	height: 38px;
	line-height: 38px;
}
.sidebarNav .facilities i {
	background: url(../images/img.png) 0px 8px no-repeat;
}
.sidebarNav .read i {
	background: url(../images/img.png) 0px -40px no-repeat;
}
.sidebarNav .charge i {
	background: url(../images/img.png) 0px -88px no-repeat;
}
.sidebarNav .error i {
	background: url(../images/img.png) 0px -136px no-repeat;
}
.sidebarNav .analysis i {
	background: url(../images/img.png) 0px -182px no-repeat;
}
.sidebarNav .customer i {
	background: url(../images/img.png) 0px -230px no-repeat;
}
.sidebarNav .set i {
	background: url(../images/img.png) 0px -279px no-repeat;
}
.sidebarNav .on .facilities i {
	background: url(../images/img.png) -51px 8px no-repeat;
}
.sidebarNav .on .read i {
	background: url(../images/img.png) -51px -40px no-repeat;
}
.sidebarNav .on .charge i {
	background: url(../images/img.png) -51px -88px no-repeat;
}
.sidebarNav .on .error i {
	background: url(../images/img.png) -51px -136px no-repeat;
}
.sidebarNav .on .analysis i {
	background: url(../images/img.png) -51px -182px no-repeat;
}
.sidebarNav .on .customer i {
	background: url(../images/img.png) -51px -230px no-repeat;
}
.sidebarNav .on .set i {
	background: url(../images/img.png) -51px -279px no-repeat;
}

.nav-tabs {
	border-bottom: 0 none !important;
}

.theme_white .sidebar {
	background: #293042;
}
.theme_white ul.sidebarNav {
	margin-top: 5px !important;
	border-top: 0;
}
.theme_white .subNav a {
	color: #b3b3b3 !important;
}
.theme_white ul.sidebarNav a {
	font-weight: 100;
	color: #e4e4e4;
}

.theme_white ul.sidebarNav > li > a {
	border-bottom: 0;
}
.theme_white ul.sidebarNav > li > a:hover {
	background: #31394e;
}
.theme_white ul.subNav {
	border-top: 0;
	background: #212738;
}

.theme_white ul.subNav li:hover {
	background: #252c3e;
}
.theme_white ul.subNav li.on a {
	color: #ffffff !important;
	font-weight: bold;
}
