.amiBoard {
	margin: 10px 20px;
	color: #9fa9c7;
	> li {
		width: 100%;
		height: 45px;
		margin-bottom: 10px;
		float: left;
		ul {
			width: 100%;
			height: 44px;
			line-height: 44px;
			background: rgb(34 51 86 / 0.5);
			border-radius: 4px;
			padding: 0 10px;

			li:nth-child(1) {
				float: left;
				img {
					width: 20px;
					margin-left: 10px;
					margin-right: 24px;
					display: block;
					margin-top: 10px;
				}
			}
			li:nth-child(2) {
				float: left;
			}
			li:nth-child(3) {
				float: right;
			}
		}
	}
}
