@import "@/assets/scss/style.scss";
@import "@/assets/scss/components/filterText.scss";
@import "@/assets/scss/components/filterSelect.scss";

.btn-filter-wrap {
	height: 32px;
	margin-bottom: 10px !important;
	.filter-wrap {
		float: right;
		height: 32px;
		.form-group {
			float: left;
			margin-right: 10px;
			legend {
				width: auto;
				display: inline;
				float: left;
				height: 32px;
				line-height: 32px;
			}
			> div {
				height: 32px;
				line-height: 32px;
				display: inline;
				float: left;
			}
			.custom-select {
				padding: inherit;
				font-weight: 600 !important;
				width: unset;
				height: inherit;
				border: none;
				display: block;
				color: $color-bl;
				margin: 0 10px 0 10px !important;
				padding: 0 19px 0 0 !important;
				background: url(~@/assets/images/arrow.png) no-repeat;
				background-position: right center;
			}
			[type="search"] {
				width: 90% !important;
				outline-offset: -2px;
				-webkit-appearance: none;
				height: 26px !important;
				line-height: 26px !important;
				padding: 0.1rem 0.2rem !important;
				border-radius: 0 !important;
				margin-top: 4px;
				margin-left: 4px;
			}
			[type="text"] {
				border-top: 1px solid $color-gy;
				border-left: 1px solid $color-gy;
				border-right: 1px solid $color-gy;
				background: transparent;
				margin-left: 5px;
				width: 130px;
				font-weight: bold !important;
				color: $color-bl;
			}
			input[type="text"]::placeholder {
				color: #b3b3b3;
				font-weight: normal;
				opacity: 1;
			}
			input[type="text"]:-ms-input-placeholder {
				color: #b3b3b3;
				font-weight: normal;
			}
			input[type="text"]::-ms-input-placeholder {
				color: #b3b3b3;
				font-weight: normal;
			}
		}
	}
	.btn-wrap {
		//버튼 그룹
		height: 32px;
		line-height: 32px;
		margin-bottom: 15px !important;
		display: inline-block;
		> button:first-child {
			margin-right: 10px;
		}
		.btn-group {
			margin: 0 10px 0 0px;
		}
	}
}
