.vue-monthly-picker .vmp-clear-icon {
	display: none !important;
}
.flexbox {
	margin: 5px;
	border: 1px solid #dee2e6;
	border-radius: 4px;
}
.flexbox.monthItem {
	margin: 5px;
	border-radius: 4px;
	border-top: none;
}
.picker .flexbox:first-child div {
	padding: 7px 0 !important;
}
