@import "~@/assets/scss/style.scss";
.basic-table {
	table {
		background: #fff;
		color: $color-main-gy !important;
		text-align: center;
		border-bottom: 1px solid $color-gr;
		tr th {
			border-bottom: 2px solid $color-gr !important;
			height: 24px;
			padding: 0.5rem;
		}
		tr td {
			padding: 0.5rem;
			height: 24px;
			line-height: 24px;
			vertical-align: middle;
		}
		.custom-control-input {
			position: inherit;
			opacity: inherit;
		}
	}
}
