@import "~@/assets/scss/style.scss";
@import "~@/assets/scss/table/tableCommon.scss";
.tableContainer {
	width: 90%;
	margin: 10px auto 0 auto;
	height: 241px;
	overflow: auto;
	table {
		border-top: 1px solid $color-ny !important;
		tr th {
			border-top: 1px solid $color-ny-table !important;
			background: #172137;
			border-bottom: 1px solid $color-ny-table !important;
			font-weight: normal;
			height: 24px;
			padding: 0.5rem;
			color: #ffffff !important;
		}
		tr td {
			border-top: 1px solid $color-ny-table !important;
			height: 18px;
			padding: 0.5rem;
			color: #737d85 !important;
		}
	}
}

.mboard-table {
	width: 95%;
	height: 350px;
	.linkage,
	.unlinkage,
	.normal {
		margin: 0 10px;
		vertical-align: middle;
		display: inline-block;
	}
}

.mboard-table,
.tableContainer {
	height: 485px !important;
}
