@charset "utf-8";

.highcharts-background {
	background: none !important;
	fill: none !important;
}
rect.highcharts-legend-box {
	fill: none;
}
.m-b-20 {
	margin-bottom: 20px;
}
.linkage {
	width: 7px;
	height: 7px;
	border-radius: 4px;
	background: #4bbf73;
	display: block;
	margin: auto;
}
.unlinkage {
	width: 7px;
	height: 7px;
	border-radius: 4px;
	background: #d9534f;
	display: block;
	margin: auto;
}
.small {
	font-size: 1rem;
}

.content {
	padding: 15px 40px;
	background: url(../images/bg.png) 0 0 no-repeat #0f1d34;
	color: #fff;
	min-height: 910px;
}
.main-bg.content {
	background: #ecf2f6 !important;
	color: #495057 !important;
}
.main-bg.content > div {
	padding: 0 8px;
	margin-bottom: 30px;
}
.main-location-wrap {
	height: 40px;
	margin-top: 22px;
	margin-bottom: 30px;
}
.main-bg.content .row {
	margin-right: -15px;
	margin-left: -15px;
}
.main-bg.content > div:after,
.tab-pane > div:after {
	clear: both;
	display: block;
	content: "";
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.main-bg.content h5 {
	height: 30px;
	line-height: 30px;
	vertical-align: bottom;
	font-size: 12px;
	margin: 10px 0 15px 0;
}
.tltle {
}
.tltle .btn-group {
	float: right;
}
.wbox {
	position: relative;
	background: #ffffff;
	padding: 15px 25px;
	border-radius: 4px;
	box-shadow: 0px 5px 5px 0 rgb(0 0 0 / 5%);
}
.box {
	width: 100%;
	min-height: 100px;
	margin: 0 615px 27px 0;
	padding: 3px 0px 6px;
	opacity: 4.9;
	box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #6979a9;
	background-image: linear-gradient(to top, #0a1428, #192640);
	border-radius: 4px;
}
.wbox:after,
.box:after {
	clear: both;
	display: block;
	content: "";
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.box h5 {
	margin-top: 5px;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #6979a9;
	padding: 0 15px 5px 15px;
	font-family: "NanumSquare", sans-serif !important;
}
.box h5 b {
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	float: right;
}
.fontC {
	color: #00ff90;
	text-shadow: rgba(255, 255, 255, 0.7) 0px 0px 5px;
}
.box .chartWarp {
	overflow: hidden;
	padding: 10px;
	width: 100%;
}
.main-bg .main-location-wrap {
	width: 100%;
	position: relative;
	display: block;
	margin-top: 22px;
}
.main-location-wrap h1 {
	font-size: 24px;
	float: left;
	margin: 16px 0 0 0;
	height: 24px;
	vertical-align: bottom;
	font-weight: bold;
}
.home-img {
	width: 12px;
	height: 19px;
	margin-top: 9px;
	float: left;
}
.breadcrumb {
	float: left;
	background-color: inherit !important;
}
.breadcrumb-item a {
	color: #777777 !important;
}
.breadcrumb-item a:hover {
	text-decoration: none;
	color: #3b82ec;
}
.main-location {
	float: right;
	height: 24px;
	font-size: 12px;
	margin-top: 10px;
}
ul.nav.nav-tabs {
	height: 32px;
	margin-bottom: 20px;
}
.nav-tabs > li {
	margin-right: 10px;
}
label,
input,
select {
	height: 34px;
	line-height: 34px;
	font-size: 12px !important;
	font-weight: normal !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tab-button {
	border: 1px solid #287fff !important;
	height: 32px;
	padding: 0 20px !important;
	line-height: 31px !important;
	background: #ecf2f6;
	border-radius: 15px !important;
	color: #287fff;
	font-size: 12px;
}
.tab-button.active {
	background: #287fff !important;
	border: 1px solid #3b82ec !important;
	color: #ffffff !important;
}
.tab-button:hover {
	background: #ecf2f6;
}
.tab-button.active:hover {
	background: #287fff !important;
	border: 1px solid #3b82ec;
	color: #ffffff;
}
.tab-pane .search-wrap1,
.tab-pane .search-wrap2 {
	margin-bottom: 20px;
}
.search-wrap1 {
	height: 60px;
	position: relative;
}
.search-wrap2 {
	position: relative;
}
.search-wrap1 .wbox {
	height: 60px;
}
.search-wrap2 .wbox {
	height: 100px;
}
.search-wrap1 .search-img,
.search-wrap2 .search-img {
	width: 50px;
	margin-right: 10px;
	float: left;
	position: absolute;
	top: 24px;
	left: 25px;
}
.search-wrap1 .search,
.search-wrap2 .search {
	position: absolute;
	top: 13px;
	left: 95px;
	right: 108px;
	bottom: 0;
}
.search-wrap1 .btn-wrap,
.search-wrap2 .btn-wrap {
	right: 19px;
	bottom: 15px;
	width: 70px;
	position: absolute;
	margin-bottom: 0;
	top: 15px;
}
.search-wrap2 .btn-wrap button {
	height: 100%;
}
.search-wrap1 .search-img svg {
	margin-top: 0px;
	margin-left: 8px;
}
.search-wrap2 .search-img {
	background: #ecf2f6;
	border-radius: 30px;
	height: 50px;
	padding: 4px 5px 5px 17px;
}
.search-wrap2 .search-img svg {
	color: #287fff;
	margin: 14px 0px 0 0px;
}
@media (max-width: 1200px) {
	.search-wrap2 .search-img svg {
		display: none;
	}
}

.btn-wrap {
	height: 31px;
	line-height: 31px;
	margin-bottom: 15px !important;
}
.btn-wrap .btn-group:first-child {
	float: left;
}
.btn-wrap .btn-group:last-child {
	float: right;
}

.table-wrap,
.pa-wrap,
.map-wrap {
	margin-top: 10px;
	min-height: 65px;
}
.map-wrap {
	min-height: 100px;
}

.one-row .form-group.row {
	height: 34px;
	margin-bottom: 5px;
}
/*검침률*/
.inspection li {
	width: 42%;
	float: left;
}
.inspection li:last-child {
	float: right;
}

/*닐씨*/
.double.row .col-lg-6:first-child {
	padding-left: 0 !important;
	padding-right: 7px !important;
}
.double.row .col-lg-6:last-child {
	padding-left: 8px !important;
	padding-right: 0px !important;
}
.double h4 {
	padding: 0 0 0 15px;
	font-size: 14px;
	margin-bottom: 0px;
}
.todayWeather .good {
	width: 100px;
	height: 100px;
	float: right;
	background: url(../images/img.png) -262px -271px no-repeat;
	margin-right: 10px;
}
.detaeWeather .good {
	width: 100px;
	height: 100px;
	float: right;
	background: url(../images/img.png) -262px -372px no-repeat;
	margin-right: 10px;
}
.todayWeather,
.detaeWeather {
	height: 130px;
}
.todayWeather,
.detaeWeather {
	height: 130px;
}

@media (max-width: 991px) {
	.double.row .col-lg-6:first-child {
		padding-right: 0px !important;
	}
	.double.row .col-lg-6:last-child {
		padding-left: 0px !important;
	}
}

/*전기*/
.presentMenu {
	height: 30px;
	margin: 0px 0 15px 0;
	width: 100%;
}
.presentMenu ul {
	height: 30px;
	line-height: 30px;
	font-size: 0.9em;
	box-shadow: 0px 1px 1px 0 rgb(255 255 255 / 20%), inset 0px 1px 1px 0 rgb(44 54 91 / 50%);
	background-color: #111c31;
	display: block;
	float: right;
}
.presentMenu ul li {
	cursor: default;
	margin: 0 10px 0 10px;
	float: right;
	color: #2e4664;
}
.presentMenu ul li.on {
	color: #00ff90;
}

/*서버운영정보*/
.dutyCycle {
	padding: 2px 20px;
}
.dutyCycle.cpu {
	margin-top: 25px;
}
.dutyCycle h4 {
	width: 100%;
	height: 13px;
	font-size: 0.9em;
	color: #94a0b4;
	margin: 0px 0px 3px 0px;
}
.dutyCycle h4 span {
	min-width: 30px;
	height: 12px;
	display: inline-block;
}
.dutyCycle h4 progress {
	display: block !important;
}
.dutyCycle h4 .title {
	float: left;
}
.dutyCycle h4 .deta {
	float: right;
}
.serveInfo {
	min-height: 95px;
	padding: 6px 20px;
	margin-top: 10px;
}
.serveInfo li {
	padding: 0 2%;
	height: 78px;
	border-radius: 4px;
	float: left;
	width: 23%;
	border: solid 1px #1ee2df;
	background-image: linear-gradient(to top, #75cee2, #23b9da, #1ee4df);
	margin: 0 1%;
}
.serveInfo h6 {
	color: #202c51;
	font-size: 0.9em;
	margin-top: 10px;
}
.serveInfo span {
	font-size: 1.4em;
	float: right;
	font-weight: bold;
	color: #202c51;
	font-family: none;
	margin-top: 9px;
}

.progress-bar {
	background-image: linear-gradient(to bottom, #1fdede 0, #23bada 100%) !important;
}
.progress {
	background-image: linear-gradient(to bottom, #07132b 0, #07132b 100%) !important;
	height: 5px !important;
}
/*서버현황*/
.regist-info {
	padding: 10px;
}
.regist-info li {
	float: left;
	margin: 2%;
	width: 46%;
}
.regist-info .serve-box {
	background: #384e85;
	padding: 13px;
	border-radius: 5px;
}
/*SVGwrap*/
.svg-Warp {
	padding: 20px 30px;
}
