@charset "utf-8";

.main {
	display: flex;
	width: 100%;
	min-height: 100vh;
	min-width: 0;
	transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out, margin-right 0.35s ease-in-out, right 0.35s ease-in-out;
	flex-direction: column;
}
.main .menu {
	width: 20px;
	height: 20px;
	display: block;
	background: url(../images/img.png) -152px -56px no-repeat;
}
.main .navbar {
	height: 52px;
	padding: 14px 20px 15px 17px;
	box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2);
	background-color: #07132b;
}
.main .navbar a.sidebar-toggle {
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	overflow: hidden;
	cursor: pointer;
	margin-top: 4px;
}
.main .navbar ul.infowrap {
	float: right;
}

ul.infowrap li {
	float: left;
}
.status-board .main .navbar .infowrap {
	color: #d3d3d3;
}
.status-board .main .navbar .infowrap .aram {
	width: 20px;
	margin-right: 20px;
}
.status-board .main .navbar .infowrap .aram i {
	background: url(../images/img.png) -379px -2px no-repeat;
	height: 20px;
	width: 20px;
	display: inline-block;
}
.status-board .main .navbar .infowrap .aram.on i {
	background: url(../images/img.png) -410px -2px no-repeat;
}
.status-board .main .navbar .infowrap .error {
	width: 20px;
	height: 20px;
	margin-right: 4px;
}
.status-board .main .navbar .infowrap .error i {
	background: url(../images/img.png) -441px -2px no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
}
.status-board .main .navbar .infowrap .error.on i {
	background: url(../images/img.png) -460px -2px no-repeat;
}
.status-board .main .navbar .infowrap .user {
	height: 20px;
	margin-right: 20px;
}
.status-board .main .navbar .infowrap .uerName {
	height: 20px;
	margin-right: 20px;
}
.status-board .main .navbar .infowrap .logout {
	width: auto;
	height: 20px;
	margin-right: 20px;
}
.status-board .main .navbar .infowrap .logout a {
	color: #d3d3d3;
}
.status-board .main .navbar .infowrap .logout a:hover {
	color: #ffffff;
	text-decoration: none;
}
