@charset "utf-8";
.b-sidebar > .b-sidebar-header {
	padding: 0 !important;
}
.b-sidebar:not(.b-sidebar-right) > .b-sidebar-header .close {
	margin-left: auto;
	position: absolute;
	top: 16px;
	right: 13px;
	color: #ffffff !important;
}
.sidebar {
	min-width: 239px;
	max-width: 260px;
	transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out, margin-right 0.35s ease-in-out, right 0.35s ease-in-out;
	direction: ltr;
	background: #293042;
}
a.logoWrap {
	cursor: pointer;
	width: 152px;
	height: 22px;
	display: block;
	margin: 17px auto 26px auto;
	background: url("../images/logo.png") 0 0 no-repeat;
}
ul.sidebarNav {
	margin-top: 5px !important;
}
.sidebarNav li {
	position: relative;
}
ul.sidebarNav > li > a:before {
	content: " ";
	border: solid;
	border-width: 0 0.1rem 0.1rem 0;
	display: inline-block;
	padding: 2px;
	transform: rotate(45deg);
	position: absolute;
	top: 1.3rem;
	right: 3.3rem;
	transition: all 0.2s ease-out;
}
ul.sidebarNav > li.on > a:before {
	transform: rotate(-135deg);
	top: 1.1rem;
}
ul.sidebarNav > li.on .subNav {
	display: block;
}
.subNav a {
	font-size: 13px !important;
	color: #b3b3b3 !important;
}
ul.sidebarNav a {
	color: #e4e4e4;
	font-size: 14px;
	cursor: pointer;
}
ul.sidebarNav a:hover {
	text-decoration: none;
}
ul.sidebarNav > li > a {
	font-weight: bold;
	height: 38px;
	line-height: 38px;
	width: 237px;
	display: inline-block;
}
ul.sidebarNav > li > a:hover {
	background: #31394e;
}
ul.subNav {
	background: #212738;
	display: none;
	padding: 10px 0;
}
ul.subNav li {
	height: 38px;
	line-height: 38px;
	display: block;
	padding: 0px 30px 0 58px;
}
ul.subNav li:hover {
	background: #252c3e;
}
ul.subNav li.on a {
	color: #ffffff !important;
	font-weight: bold;
}
.sidebarNav i {
	width: 16px;
	display: block;
	margin-right: 12px;
	float: left;
	margin-left: 30px;
	height: 38px;
	line-height: 38px;
}
.sidebarNav .facilities i {
	background: url(../images/img_wh.png) -19px -7px no-repeat;
}
.sidebarNav .read i {
	background: url(../images/img_wh.png) -19px -55px no-repeat;
}
.sidebarNav .charge i {
	background: url(../images/img_wh.png) -19px -105px no-repeat;
}
.sidebarNav .error i {
	background: url(../images/img_wh.png) -19px -152px no-repeat;
}
.sidebarNav .analysis i {
	background: url(../images/img_wh.png) -19px -202px no-repeat;
}
.sidebarNav .customer i {
	background: url(../images/img_wh.png) -19px -248px no-repeat;
}
.sidebarNav .set i {
	background: url(../images/img_wh.png) -19px -295px no-repeat;
}
.sidebarNav .on .facilities i {
	background: url(../images/img_wh.png) -70px -7px no-repeat;
}
.sidebarNav .on .read i {
	background: url(../images/img_wh.png) -70px -55px no-repeat;
}
.sidebarNav .on .charge i {
	background: url(../images/img_wh.png) -70px -105px no-repeat;
}
.sidebarNav .on .error i {
	background: url(../images/img_wh.png) -70px -152px no-repeat;
}
.sidebarNav .on .analysis i {
	background: url(../images/img_wh.png) -70px -202px no-repeat;
}
.sidebarNav .on .customer i {
	background: url(../images/img_wh.png) -70px -248px no-repeat;
}
.sidebarNav .on .set i {
	background: url(../images/_wh.png) -70px -295px no-repeat;
}
.on span {
	color: #1ee4df;
}
.nav-tabs {
	border-bottom: 0 none !important;
}
