@charset "utf-8";
table input[type="checkbox"] {
	height: 16px;
	vertical-align: middle;
	line-height: 16px;
}
table {
	font-size: 0.8rem !important;
}
table .error td {
	color: #d9534f !important;
}
.table-striped tbody tr:nth-of-type(odd) {
	background-color: #f4f7f9 !important;
}
.theme_white table thead tr th,
.theme_white table tbody tr td,
.theme_white table thead tr th div {
	font-size: 12px !important;
	color: #6c757d;
	text-align: center;
}
.theme_white table tbody tr td.br {
	border-right: 1px solid #dee6ed !important;
}
.theme_white table > tbody > tr > td {
	line-height: 24px;
	border-top: 1px solid #dee6ed !important;
	vertical-align: middle;
}
.bgtable {
	background: #ffffff;
	margin-bottom: 0 !important;
	border-bottom: 1px solid #dee6ed !important;
}
.basic-table {
	border-bottom: 1px solid #dee6ed !important;
}
.bgtable > thead > tr > th {
	height: 35px;
	line-height: 35px !important;
	border-top: 1px solid #3b82ec !important;
	border-bottom: 3px solid #dee6ed !important;
	font-weight: bold;
}
.basic-table > thead > tr > th {
	background: #ffffff;
	height: 10px;
	line-height: 10px;
	border-top: 1px solid #dee6ed !important;
	border-bottom: 2px solid #dee6ed !important;
	font-weight: bold;
}
.basic-table > tbody > tr > td {
	height: 8px;
	line-height: 8px;
}
table input.form-control {
	padding: 0px 5px !important;
}
.tableContainer .table > thead > tr > th {
	border-bottom: 1px solid #1a2c40 !important;
}
.tableContainer .table > tbody > tr > td {
	border-top: 1px solid #1a2c40 !important;
}
.tableContainer .tableWarp {
	position: relative;
	width: 95%;
	padding: 0px 0 10px;
	margin: 0 auto;
	height: 271px;
	overflow-y: auto;
}
