@import "@/assets/scss/style.scss";

#addEquipmentDcu {
	.svg-wrap {
		width: 100%;
		height: 400px;
		position: relative;
		svg {
			width: 90%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0 auto;
		}
		.svg-input {
			position: absolute;
			top: 43px;
			left: 63px;
			width: 348px;
			bottom: 0;
			.form-group > div {
				width: 225px;
			}
			.row {
				margin: 0px auto 7px auto !important;
				width: 320px;
				height: 34px;
			}
		}
	}
}
