@import "@/assets/scss/style.scss";

#addEstate .modal-dialog,
#detailEstate .modal-dialog {
	width: 860px;
	max-width: 860px;
	margin: 60px auto;
	.center {
		margin: auto;
		width: fit-content;
		padding-left: 10px;
		.form-group {
			width: 100%;
			height: inherit;
		}
		.form-group:after {
			clear: both;
			display: block;
			content: "";
			height: 0;
			overflow: hidden;
			visibility: hidden;
		}
		.modal-1st-box {
			width: 385px;
			margin-right: 30px;
			.form-group > div {
				width: 265px;
			}
		}
		.modal-2nd-box {
			float: left;
			width: 385px;
			.tooltip-button-number,
			.tooltip-button-building {
				height: 32px;
				line-height: 32px;
				background: #e9ecef;
				border: 1px solid #ced4da;
				border-radius: 4px;
				padding-left: 9px;
			}
			.form-group > div {
				width: 265px;
			}
		}
		.modal-3rd-box {
			height: 32px;
			float: left;
			margin-top: 5px;
			width: 800px;
			margin-bottom: 10px;
			.form-group > div {
				width: 670px;
				padding: 0px 10px;
			}
			.custom-checkbox {
				width: 50px;
				float: left;
				margin-right: 20px;
				input[type="checkbox"] {
					opacity: 1;
					height: 32px;
				}
			}
		}
		.modal-4th-box {
			height: 32px;
			float: left;
			margin-top: 5px;
			width: 800px;
			margin-bottom: 10px;
			.form-group > div {
				width: 670px;
			}
			.bg {
				width: 526px;
				height: 32px;
				line-height: 32px;
				li {
					float: left;
					margin-right: 10px;
					width: 90px;
					legend {
						width: 30px;
					}
					.form-group > div {
						width: 60px;
						padding: 0;
					}
				}
			}
		}
	}
}
