@import "@/assets/scss/style.scss";

#addWriting {
	.modal-box {
		text-align: center;
		.textarea-wrap {
			width: 100%;
			margin-bottom: 5px;
			.form-group {
				height: inherit;
			}
			.form-group > div {
				width: 597px;
			}
		}
		.one-row .form-group > div {
			width: 400px;
			select {
				width: 200px;
				float: left;
			}
			button {
				float: left;
				margin-left: 10px;
			}
		}
	}
}
