@import "@/assets/scss/style.scss";

#addBuilding,
#detailBuilding {
	.modal-body {
		display: inline;
		.modal-box {
			margin: 0 auto;
			width: 395px;
			.form-group {
				//모달 전체 .form-group, label, div제어
				width: 100%;
				height: inherit;
				margin-bottom: 5px !important;
				label,
				legend {
					width: 150px;
					float: left;
					text-align: left;
				}
				> div {
					width: 245px;
					float: left;
					.input-group {
						margin-bottom: 5px;
					}
				}
			}
		}
	}
}
