@import "@/assets/scss/style.scss";
.regist-info {
	padding: 10px;
}
.regist-info li {
	float: left;
	margin: 2%;
	width: 46%;
}
.regist-info .serve-box {
	height: 71px;
	border: solid 1px $color-gn;
	background-image: linear-gradient(to top, #75cee2, #23b9da, #1ee4df);
	padding: 13px;
	border-radius: 5px;
	color: #202c51;
}
.serve-box b {
	float: right;
	display: block;
	font-size: 18px;
}

.serve-ex-ip-wrap {
	height: 65px;
	background: #070e1f;
	margin: 10px 15px;
	border-radius: 4px;
	> ul {
		padding: 8px 5px 5px 5px;
		border-radius: 20px;
		margin-top: 15px;
		margin-left: 20px;
		width: 36px;
		float: left;
		font-size: 11px;
		text-align: center;
		background: #070e1f;
		li:first-child {
			margin-bottom: 3px;
		}
		.linkage-text {
			color: $color-gn;
		}
		.unlinkage-text {
			color: $color-rd;
		}
	}
	.serve-ex-ip {
		float: left;
		margin-top: 15px;
		li {
			margin-left: 20px;
		}
		li:last-child {
			font-size: 14px;
		}
	}
	.svg-wrap-text {
		float: right;
		width: 67px;
		height: 65px;
		line-height: 65px;
		margin-right: 15px;
	}
}
